./vscode
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
node_modules
/dist
/build
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.pnp.js
.idea
.vscode
coverage
.cache
*.pem
*.key
*.crt

# Yarn (v1 & Berry)
.yarn/
.yarnrc
.yarnrc.yml
.yarnrc.json
.yarn/cache/
.yarn/releases/
.yarn/plugins/
.yarn/sdks/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
yarn.lock
